@import "tailwindcss";

@layer components {
  .form-group {
    @apply flex flex-col gap-3 w-full;
  }

  .form-input {
    @apply bg-slate-900 p-2 rounded-lg;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2;
  }
  .logo {
    @apply text-2xl font-extrabold bg-gradient-to-r from-purple-500 to-blue-500 bg-clip-text text-transparent drop-shadow-[0_0_10px_rgba(139,92,246,0.8)];
  }
}

@theme {
  --text-fluid-lg: clamp(2rem, 2vw + 1rem, 3rem);
  --text-fluid-md: clamp(1rem, 1.5vw + 0.5rem, 1.75rem);
  --text-fluid-sm: clamp(0.875rem, 1vw + 0.25rem, 1.25rem);
}
@layer utilities {
  .bg-aurora {
    background: radial-gradient(
        circle at 20% 30%,
        rgba(161, 38, 100, 0.63),
        transparent 60%
      ),
      radial-gradient(
        circle at 80% 40%,
        rgba(59, 130, 246, 0.25),
        transparent 60%
      ),
      radial-gradient(
        circle at 50% 80%,
        rgba(34, 211, 238, 0.25),
        transparent 60%
      ),
      #000;
  }
  .bg-cyberpunk {
    background: radial-gradient(
        circle at top left,
        rgba(139, 92, 246, 0.3),
        transparent 60%
      ),
      radial-gradient(
        circle at bottom right,
        rgba(59, 130, 246, 0.3),
        transparent 60%
      ),
      #000;
  }

  .bg-teal {
    background: radial-gradient(
        circle at top,
        rgba(34, 211, 238, 0.3),
        transparent 70%
      ),
      radial-gradient(
        circle at bottom,
        rgba(16, 185, 129, 0.3),
        transparent 70%
      ),
      #000;
  }
  .scroll-stable {
    scrollbar-gutter: stable;
  }
}

/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* or rgba(255,255,255,0.1) for a subtle glow */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #06b6d4,
    #3b82f6
  ); /* cyan to blue gradient */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #3b82f6, #06b6d4);
}
